<div ng-controller="dashController" class="col-md-6">
    <p class="navbar-right">
        <a href="#/" ng-click="logout()">Log Out</a>
    </p>
    Balance for {{ username }}
    <div class="container-fluid text-center">
        <h1>
            {{ total | currency:"$":0}}
        </h1>
    </div>
	<table class="table table-striped" style="table-layout: fixed;">
        <thead>
    		<tr>
    			<th>Category</th>
    			<th>Note</th>
    			<th>Group</th>
    			<th>Amount</th>
    		</tr>
        </thead>
        <tbody>
            <tr>
                <td><select ng-model="categorySelect" ng-options="category for category in categories"></select></td>
                <td><input type="text" placeholder="Note" size="12" ng-model="note"/></td>
                <td><select ng-model="expgroupSelect" ng-options="group for group in expgroup"></select></td>
                <td><input type="number" placeholder="$0.00" style="width: 5em;"ng-model="amount"/></td>
                <td><button class="btn btn-primary" ng-click="submit()">Submit</button></td>
            </tr>
    		<tr ng-repeat="bill in bills | orderBy:'timestamp':'reverse'">
                <td>{{ bill.category }}</td>
                <td>{{ bill.note }}</td>
                <td>{{ bill.expgroup }}</td>
                <td>{{ bill.amount | currency:"$":0}}</td>
                <td><button class="btn btn-primary" ng-click="delete(bill.id)">Delete</button></td>
    		</tr>
        </tbody>
	</table>
</div>
