<div ng-controller="friendsController" class="col-md-6">
	<!-- Menu -->
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
			<li ng-class="" ng-click="openReceipt()"><a href="">Add Expense</a></li>
			<li class="dropdown-submenu">
				<a href="">Group</a>
				<ul class="dropdown-menu">
					<li><a href="./">Household</a></li>
					<li><a href="./">Events</a></li>
				</ul>
			</li>
			<li><a href="./friends">Friends</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="./" ng-click="logout()">Log Out</a></li>
		</ul>
		<p class="navbar-right pull-right">
			<button class="btn btn-default" id="openReceipt" type="button" ng-click="openReceipt()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</p>
	</div>
	
	Your friend is {{ friends }}
</div>
