<div ng-controller="loginController">
	<div>
		<h3>Please Log In </h3><br />
	</div>
	<form class="login">
		<div class="{{ userInput }}">
			<label for="emailInput">Email</label>
			<input type="text" class="form-control" ng-model="user.email" id="emailInput" placeholder="Email" />
			<span class="{{ userSpan }}" aria-hidden="true"></span>
			<div class="textContainer red">{{ userError }}</div>
		</div>
		<div class="{{ passwordInput }}">
			<label for="passwordInput">Password</label>
			 <input type="password" class="form-control" ng-model="user.password" id="passwordInput" placeholder="Password" />
			<span class="{{ passwordSpan }}" aria-hidden="true"></span>
			<div class="textContainer red">{{ passwordError }}</div>
		</div>
		<div>
			<button type="button" ng-model="submitLogin" class="btn btn-default" ng-click="submit()">
				Login
			</button>
		</div>
	</form>
</div>
